*.orig
*.rej
config.*
*.spec
*.mo
*.gmo
*~
accerciser-*.tar.gz
help/??/accerciser.xml
help/?????/accerciser.xml
.intltool-merge-cache
accerciser.desktop.in
accerciser.desktop
accerciser.schemas
Makefile
Makefile.in
Makefile.in.in
configure
missing
mkinstalldirs
py-compile
intltool-*
aclocal.m4
autom4te.cache
xmldocs.make
src/accerciser
i18n.py
install-sh
stamp-it
POTFILES
